.entry-content .board-member-card {
     padding: 20px;
     border: 1px solid #ddd;
}

/* --- CLB Services Icon Card edits ---- */

.board-member-card {
	text-align: center;
	padding: 30px;
	border: 1px solid #aaa;
	margin-bottom: 30px;
}

.board-member-name h4 {
     margin: 0;
}

.board-member-card h4:hover {
	cursor: pointer;
	color: #de3e40;
}

.board-member-bio-body {
	text-align: left;
}

.board-member-card  ol, .board-member-card  ul {
    margin-bottom: 0;
}

.board-member-card.on {
	border: 1px solid #de3e40;
}

.board-member-bio-body {
	display: none;
     margin-top: 20px;
     font-size: 16px;
     font-size: 1.6rem;
}

/* .board-member-card.on .board-member-bio-body {
	display: block;
} */

.board-member-name .arrow-indicator-down {
     float: right;
}

.board-member-name .arrow-indicator-up {
	display: none;
     float: right;
}


.board-member-card.on .board-member-name .arrow-indicator-up {
	display: inline;
     float: right;
}

.board-member-card.on .board-member-name .arrow-indicator-down {
	display: none;
     float: right;
}

.board-member-card.on .board-member-name, .board-member-card.on .fal {
	color: #de3e40;
}
